<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soubu.crmproject">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- iBeancon功能所需权限 -->
    ;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CrmApplication"
        android:allowBackup="true"
        android:icon="@drawable/crm_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.soubu.crmproject.view.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soubu.crmproject.base.BaseActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.soubu.crmproject.sdk.getui.getuiPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.CustomerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ClueActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.BusinessOpportunityActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ContractActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AddClueActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ClueHomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ClueSpecActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AddCustomerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.CustomerHomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.CustomerSpecActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AddBusinessOpportunityActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.BusinessOpportunityHomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.BusinessOpportunitySpecActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AddContractActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ContractHomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ContractSpecActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AddFollowActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".view.activity.AddFollowHomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.BackSalesPlanActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AddBackSalesActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AlreadyBackSalesActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ContactActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AddContactActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ContactSpecActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.ChooseEmployeeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.AllFollowActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.activity.BasePerformanceActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <receiver
            android:name="com.soubu.crmproject.receiver.FollowRemindReceiver"
            android:process=":remote" />
    </application>


</manifest>