<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soubu.crmproject">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- iBeancon功能所需权限 -->
    ;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.soubu.crmproject.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/crm_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.soubu.crmproject.view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soubu.crmproject.base.BaseActivity" />

        <receiver
            android:name="com.soubu.crmproject.sdk.getui.getuiPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.HomeActivity"></activity>
        <activity android:name=".view.activity.CustomerActivity"></activity>
        <activity android:name=".view.activity.ClueActivity"></activity>
        <activity android:name=".view.activity.BusinessOpportunityActivity"></activity>
        <activity android:name=".view.activity.ContractActivity"></activity>
        <activity android:name=".view.activity.AddClueActivity"></activity>
        <activity android:name=".view.activity.ClueHomeActivity"></activity>
        <activity android:name=".view.activity.ClueSpecActivity"></activity>
        <activity android:name=".view.activity.AddCustomerActivity"></activity>
        <activity android:name=".view.activity.CustomerHomeActivity"></activity>
        <activity android:name=".view.activity.CustomerSpecActivity"></activity>
        <activity android:name=".view.activity.AddBusinessOpportunityActivity"></activity>
        <activity android:name=".view.activity.BusinessOpportunityHomeActivity"></activity>
        <activity android:name=".view.activity.BusinessOpportunitySpecActivity"></activity>
        <activity android:name=".view.activity.AddContractActivity"></activity>
        <activity android:name=".view.activity.ContractHomeActivity"></activity>
        <activity android:name=".view.activity.ContractSpecActivity"></activity>
        <activity
            android:name=".view.activity.AddFollowActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />

    </application>

</manifest>